.me-container{
    
    display: flex;
    flex-direction: row; /* จัดแรงแบบแถวแนวนอน */
    flex-wrap: nowrap; /* ถ้ารูปเต็มหน้าจอมันจะดันลงล่างอัตโนมัติ */
    justify-content: space-evenly;/* มีพื้นที่ชองว่างเท่ากันทุกด้าน หรือซ้ายขวาไม่แน่ใจ justify=แกนyแนวนอน*/
    align-items: flex-start ; /* อยู่ตรงกลางแนวนอน align แนวตั้ง*/
}

.item-1 {
    width: 100%;
}

.me-container {
    background-color:rgb(201, 208, 216);
   
    padding: 25px;
    font-size: 30px;
}

#itemwrap {
  
	background: url(item-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pic-container {
    display: grid;

    grid: auto auto / auto auto;
    grid-gap: 10px;
    background-color: antiquewhite;
    padding: 10px;
    
}

.grid-item {
    background-color: blueviolet;
    text-align: center;
    padding: 25px;
    font-size: 30px;
}





